# Site excludes
/*

# Administrator Excludes
!/administrator/
/administrator/*

# Component Exceptions
!/components/com_api/
!/administrator/components/com_api/

# Site Language files
/language/*
!/language/en-GB
/language/en-GB/*
!/language/en-GB/en-GB.com_api.ini

# Administrator Language files
/administrator/language/*
!/administrator/language/en-GB
/administrator/language/en-GB/*
!/administrator/language/en-GB/en-GB.com_api.ini

# Plugins
!/plugins/
/plugins/*
!/plugins/api/