# We're going to ignore everything in this Joomla! install by default and then explicitly "exclude" our component files
*

# Overrides to include component
!components/com_api/
!administrator/components/com_api/